.link-subida {
  position: relative;
}

.opciones-subida {
  position: absolute;
  top: 100%;
  left: 0;
  background-color: white;
  border: 1px solid #ccc;
  padding: 10px;
  z-index: 100;
  display: flex;
  flex-direction: column;
  gap: 10px;
}

.opcion {
  background-color: #f0f0f0;
  border: none;
  padding: 8px;
  cursor: pointer;
  font-size: 14px;
}

.opcion:hover {
  background-color: #ddd;
}